/* CSS used throughout the Project */

.center {
  text-align: center;
}

.title_font {
  font-family: 'Fugaz One',cursive;
  font-size: 20px;
}

.main_font {
  font-family: 'Fugaz One',cursive;
}

/* General CSS */

#main_page {
  background-image: url(../images/index/dark-wood.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#wrapper {
  width: 93%;
  margin-right: auto;
  margin-left: auto;
}


nav {
  text-align: center;
  height: 50px;
  box-shadow: 2px 2px 2px;
  background-color: rgba(28, 111, 237, 1.0);
  padding-top: 10px;
  padding-left: 10px;
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 1030;
  padding-right: 5%;
  padding-top: 25px;
}

nav h1 {
  display: none;
}

nav ul {
  display: inline;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

nav a:hover {
  color: #000;
}

nav ul li{
  display:inline;
}

header {
  margin-top: 100px;
}

.title_banner {
  margin-top: 63px;
  padding-top: 100px;
  background-image: url(https://source.unsplash.com/xBeid9r1paU);
  height: 700px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.title_banner_div {
  background-color: rgba(29,39,38,0.7);
  margin-left: 30%;
  margin-right: 30%;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 15px;
  font-family: 'Fugaz One',cursive;
}

main {
  padding-bottom: 3px;
}

main ul {
  line-height: 2em;
  text-align: center;
  list-style: none;
}

footer {
  text-align: center; 
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(28, 111, 237, 0.9);
}

.footer_anchor_tags {
  text-decoration: none;
  color: #000;
}

/* CSS for Home/index page */

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 25px;
}

.area_one {
  flex: 5;
  margin-left: 10px;
}

.title_home_main {
  text-align: center;
  font-family: 'Fugaz One',cursive;
  font-size: 3em;
  font-weight: 600;
  color: rgb(28, 111, 237);
}

.main_page_info {
  font-size: 17px;
}

.basic_info {
  font-size: 22px;
  line-height: 36px;
}

.area_two {
  flex: 5;
  height: 500px;
}

.area_two_title {
  color: rgb(28, 111, 237);
  font-size: 3em;
  font-weight: 600;
  font-family: 'Fugaz One',cursive;
}

.area_two img {
  width: 100%;
}

.font_awesome_area {
  margin-top: 8%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fa_sub_area {
  flex: 3;
  margin-left: 2%;
  margin-right: 2%;
}


/* CSS for Home/index/FAQ section */

#faq_section {
  background-color: rgba(28, 111, 237, 0.9);
  margin-top: -41px;
}

.sub_heading {
  padding-top: 75px;
}


dl {
  margin-left: 2%;
}

dt {
  font-weight: bold;
}

/* CSS for Home/index/About section */

.about_title {
  color: rgb(28, 111, 237);
}

#about_section {
  margin-top: -15px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255,0.9);
  margin-top: -16px;
}

.about_one {
  flex: 5;
}

.about_two {
  flex: 5;
  margin-top: 33%;
}

.about_two img {
  border-radius: 100px;
  margin-left: 25%;
  margin-right: 25%;
}

.about_paragraph {
  margin-left: 10%;
  font-size: 22px;
  line-height: 36px;
}

/* CSS for Home/index/Contact section */

#contact_section { 
  background-color: rgba(28, 111, 237, 0.9);
  margin-top: -43px;
}

.contact_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact_area_one {
  flex: 5;
}

.contact_area_two {
  flex: 5;
}

table {
  margin: auto;
  margin-top: 25px;
  border: 3px solid #000;
  width: 90%;
  border-collapse: collapse;
  background-color: rgb(255, 255, 255);
  margin-right: 10%;
}

th {
  padding: 10px;
  border: 3px solid #000;
}

td {
  text-align: center;
  padding: 10px;
  border: 3px solid #000;
}

.contact_title {
  font-size: 50px;
  line-height: 20px;
  padding-top: 95px;
}

.contact_paragraph {
  margin-top: 30px;
  padding: 0 120px;
  font-size: 22px;
  line-height: 36px;
}

.form_title {
  padding-top: 30px;
}

form {
  margin-left: 10%;
  padding-bottom: 3%;
}

.index_input {
  display: block;
  margin-bottom: 1em;
  width: 75%;
  padding-top: 20px;
  font-size: 22px;
}

textarea {
  display: block;
  width: 75%;
  font-size: 22px;
}

.lincoln_gif {
  margin-top: 5%;
}

/* CSS for Index Page / site map */

#site_map {
  background-color: rgba(255, 255, 255,0.9);
  margin-top: -43px;
  margin-bottom: -1px;
}

.site_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.site_map_font_color {
  color: #000;
  text-decoration: none;
}

.home_nav {
  margin-left: 30px;
}

.map_container {
  margin-left: 10%;
  padding-bottom: 3%;
  flex: 5;
}

.site_map_picture {
  flex: 5;
  background-image: url(https://source.unsplash.com/PO7CGnoDFUI);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.change_font a:hover {
  color: #1c6fed;
}


/* CSS for Battle Page */

.title_banner_battle {
  margin-top: 63px;
  padding-top: 100px;
  background-image: url(https://source.unsplash.com/gWrxqChFf1Y);
  height: 700px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.title_banner_div_battle {
  background-color: rgba(29,39,38,0.7);
  margin-left: 30%;
  margin-right: 30%;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 15px;

}

.title {
  text-align: left;
  margin-left: 1%;
}

.battle_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3%;
}

.main_info {
  flex: 8;
  background-image: url(../images/battle/marble.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.history_area_one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, .5);
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
}

.history_area_one a {
  display: inline-flex;
}

.history_one_img {
  flex: 2;
}

.history_one_para {
  flex: 2;
  margin-left: 3%;
  margin-right: 2%;
}

.aside_container {
  flex: 3;
  background-image: url(../images/battle/marble.jpg);
  margin-left: 1%;
  border: solid 2px #dee2e8;
  padding: 10px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.aside_title {
  text-align: center;
  text-transform: uppercase;
}

.battle_page_aside {
  text-decoration: none;
}

.battle_image {
  height: 245px;
}



/* CSS for Art Page */

.title_banner_art {
  margin-top: 63px;
  padding-top: 100px;
  background-image: url(https://source.unsplash.com/oLhTLD-RBsc);
  height: 700px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.title_banner_div_art {
  background-color: rgba(29,39,38,0.7);
  margin-left: 30%;
  margin-right: 30%;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 15px;
  font-family: 'Fugaz One',cursive;
}

.art_title {
  background-color: rgba(255, 255, 255,0.8);
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.art_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: 2%;
}

/*.art_area_one {
  flex: 2;
  font-weight: bold;
  font-size: 3em;
  background-color: rgba(255, 255, 255,0.9);
}*/

h3 {
  margin-top: 5%;
  font-size: 1em;
  text-align: center;
}

.art_area_two {
  flex: 8;
  margin-left: 2%;
  margin-right: 2%;
  background-color: rgba(255, 255, 255,0.9);
}

.art_paragraph {
  margin-right: 10%;
}

.painting_info {
  margin-left: 10%;
}

.art_pic_one img {
  float: left;
  width: 200px;
  height: 250px;
  margin-left: 10px;
  margin-right: 10px;
}

.art_pic_two {
    margin-top: 20%;
}

.art_pic_two img {
  float: left;
  width: 200px;
  height: 250px;
  margin-left: 10px;
  margin-right: 10px;
}

.art_pic_three {
  margin-top: 12%;
}

.art_pic_three img {
  float: left;
  width: 200px;
  height: 250px;
  margin-left: 10px;
  margin-right: 10px;
}

.art_pic_four {
  margin-top: 20%;
}

.art_pic_four img {
  float: left;
  width: 200px;
  height: 250px;
  margin-left: 10px;
  margin-right: 10px;
}

.art_pic_five {
  margin-top: 15%
}

.art_pic_five img {
  float: left;
  width: 200px;
  height: 250px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5%;
}

/* CSS for book page */

.title_banner_book {
  margin-top: 63px;
  padding-top: 100px;
  background-image: url(https://source.unsplash.com/hHL08lF7Ikc);
  height: 700px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.title_banner_div_book {
  background-color: rgba(29,39,38,0.7);
  margin-left: 30%;
  margin-right: 30%;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 15px;
  font-family: 'Fugaz One',cursive;
}

.book_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.book_area_one {
  flex: 8;

  background-color: rgba(255, 255, 255,0.9);
}

.book_area_two {
  flex: 2;
  background-color: rgba(255, 255, 255,0.9);
  padding-right: 5%;
}

.book_gallery {
  width: 224px;
  height: 350px;
  float: left;
  margin: 1.50%;
}

.show_on_mobile {
  display: none;
}

/* CSS for Shopping Cart Page */

.title_banner_shopping {
  margin-top: 63px;
  padding-top: 100px;
  background-image: url(https://source.unsplash.com/CV42OL7nLsI);
  height: 700px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.container_shopping {
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 25px;
}

.leftfloat {
  float: left;
}

.shopping_image {
  height: 150px;
  width:150px;
}

.clear {
  clear: both;
}

.buy_section {
  margin-left: 10%;
  margin-bottom: 5%;
}

.paragraph_fix {
  padding-left: 20%;
}


/* CSS for media queries */

@media only all and (max-width: 768px){


  #wrapper {
    width: auto;
    min-width: 0;
    margin: 0;
    box-shadow: none;
  }

  nav {
    height: 300px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px;
    background-color: #d9dbdd;
    padding-top: 10px;
    padding-left: 10px;
    text-align: center;
  }

  nav h1 {
    display: inline;
    padding-left: 20%;
    color: #1c6fed;;
  }

  nav a {
    display: block;
    font-size: 1.3em;
    text-decoration: none;
  }

  header {
    margin-top: 500px;
  }

  .title_banner {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 250px;
    padding-bottom: 400px;
  }

  .title_home_main {
    text-align: center;
    font-size: 2.3em;
  }

  .area_one {
    padding-top: 100px;
  }

.font_awesome_area {
  margin-top: 8%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

  .about_two {
    display: none;
  }

  #about_section {
    margin-top: -15px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .about_two {
    padding-bottom: 10px;
  }

/* CSS media queries for Index page / contact section */

.contact_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contact_area_one {
  flex: 5;
}

.contact_area_two {
  flex: 5;
}

.contact_table {
  margin-bottom: 20px;
  margin-left: 5%;
}

.lincoln_gif {
    display: none;
}

.site_map_picture {
    display: none;
}

  /* CSS media queries for Art Page */

  .art_area_one {
    display: none;
  }

  .dates {
  display: inline;
  }

  /* CSS media queries for History Page */

  .battle_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .history_area_one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .battle_image {
    display: none;
  }

  .aside_container {
    margin-top: 2%;
    margin-bottom: 2%;
  }

  /* CSS media queries for Book Page */

  .book_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .show_on_desktop {
    display: none;
  }

  .show_on_mobile {
    display: inline;
  }



}
