/*************************
The CSS in this file will control all of the CSS for my GTC home page-break-inside.
*************************/

/*************************
Generic CSS
*************************/


body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

h2 a {
  text-decoration: none;
  color: white;
}

h2 a:hover {
  color: orange;
}

ul {
 list-style-type: none; 
}

li a {
  text-decoration: none;
  color: black;
  font-size: 20px; 
}

/*************************
CSS for Header Area 
*************************/

#top {
  background-image: url(road.jpg);
  min-height: 100%; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 675px;
}

.header_div {
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
  padding: 15px;
  color: white;
}

/*************************
CSS for Current Courses Area
*************************/

.courses_area {
  display: flex;
  justify-content: center;
}