header, nav, main, footer {
  display: block;
}

* {
    box-sizing: border-box;
}

/*body {
  background-color: #337BFF;
}*/

h1 {
  color: #91FF33;
  text-align: center;
}

#wrapper {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: #A133FF;
  min-width: 700px;
  max-width: 1024px;
  box-shadow: 5px 5px 5px #828282;
}

nav {
  text-align: center;
}