/* General CSS */

nav {
  text-align: center;
}

#wrapper {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

footer {
  text-align: center;
}

/* CSS for Home/index page */

.heading {
  text-align: center;
}

