/* General CSS */

#wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Playfair Display', serif;
}

nav {
  height: 50px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px;
  background-color: #f4f6f9;
  padding-top: 10px;
  padding-left: 10px;
}

nav h1 {
  display: inline;
  color: #1c6fed;
}

nav ul {
  display: inline;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: #1c6fed;
}

nav ul li{
  display:inline;
}

main {
  padding-bottom: 3px;
}

.center {
  text-align: center;
}

main ul {
  line-height: 2em;
}

footer {
  text-align: center; 
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  margin-top: -15px;
  border-top: solid 3px black;
}

/* CSS for Home/index page */

.container {
  margin-top: 3px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.area_one {
  flex: 5;
  padding-top: 100px;
  margin-left: 10px;
}

.title_home_main {
  text-align: center;
}

.area_two {
  flex: 5;
  height: 500px;
  background-image: url(main.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.area_two img {
  width: 100%;
}

/* CSS for Home/index/FAQ section */

#faq_section {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}


dl {
  margin-left: 2%;
}

dt {
  font-weight: bold;
}

/* CSS for Home/index/About section */
#about_section {
  margin-top: -15px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about_one {
  flex: 5;
}

.about_two {
  flex: 5;
  margin-top: 5%;
}

.about_two img {
  border-radius: 100px;
  margin-left: 25%;
  margin-right: 25%;
  border: 3px solid #1c6fed;
}

.about_paragraph {
  margin-left: 2%;
}

/* CSS for Battle Page */

header {
  text-align: center;
}

hr { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 

hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

.title {
  text-align: left;
}

.battle_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main_info {
  flex: 8;
}

.history_area_one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.history_one_img {
  flex: 2;
}

.history_one_para {
  flex: 2;
}

.aside_container {
  flex: 3;
}

.battle_image {
  height: 250px;
}

/* CSS for Art Page */

.art_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: 2%;
}

.art_area_one {
  flex: 2;
  font-weight: bold;
  font-size: 3em;
}

h3 {
  margin-top: 5%;
  font-size: 1em;
  text-align: center;
}

.time_one {
  margin-top: 50%;
  text-align: center;
}

.time_two {
  margin-top: 80%;
  text-align: center;
}

.time_three {
  margin-top: 80%;
  text-align: center;
}

.time_four {
  margin-top: 80%;
  text-align: center;
}

.time_five {
  margin-top: 80%;
  text-align: center;
}

.art_area_two {
  flex: 8;
  margin-left: 2%;
  margin-right: 2%;
}

.dates {
  display: none;
}

.art_para {
  margin-right: 23px;
}

.art_pic_one img {
  float: left;
  width: 200px;
  height: 250px;
}

.art_pic_two {
    margin-top: 15%
}

.art_pic_two img {
  float: left;
  width: 200px;
  height: 250px;
}

.art_pic_three {
  margin-top: 15%
}

.art_pic_three img {
  float: left;
  width: 200px;
  height: 250px;
}

.art_pic_four {
  margin-top: 15%
}

.art_pic_four img {
  float: left;
  width: 200px;
  height: 250px;
}

.art_pic_five {
  margin-top: 15%
}

.art_pic_five img {
  float: left;
  width: 200px;
  height: 250px;
}


/* CSS for media queries */

@media only all and (max-width: 768px){

  #wrapper {
    width: auto;
    min-width: 0;
    margin: 0;
    box-shadow: none;
  }

  nav {
    height: 300px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px;
    background-color: #d9dbdd;
    padding-top: 10px;
    padding-left: 10px;
    text-align: center;
  }

  nav a {
    display: block;
    font-size: 1.3em;
    text-decoration: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .title_home_main {
    text-align: center;
    font-size: 2.3em;
  }

  #about_section {
    margin-top: -15px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .about_two {
    padding-bottom: 10px;
  }

  /* CSS media queries for Art Page */

  .art_area_one {
    display: none;
  }

  .dates {
  display: inline;
  }

  /* CSS media queries for History Page */

  .battle_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .history_area_one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

}
