/* General CSS */

nav {
  text-align: center;
}

.center {
  text-align: center;
}

.fix_underline {
  text-decoration: none;
}

#wrapper {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

footer {
  text-align: center;
}

/* CSS for Home/index page */

.heading {
  text-align: center;
}

/* CSS for FAQ Page */

.sub_heading {
  color: blue;
}

dt {
  font-weight: bold;
}

