/* General CSS */

#wrapper {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

nav {
  height: 50px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px;
  background-color: #d9dbdd;
  padding-top: 10px;
  padding-left: 10px;
}

nav h1 {
  display: inline;

}

nav ul {
  display: inline;
  text-decoration: none;
}

nav ul li{
display:inline;

}

.center {
  text-align: center;
}


footer {
  text-align: center;
}

/* CSS for Home/index page */

.container {
  margin-top: -18px;
  background-color: #d9dbdd; 
  border-radius: 3px;
}


/* CSS for FAQ Page */

.sub_heading {
  color: blue;
}

dt {
  font-weight: bold;
}

