main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*.tubing {
  width: 336px;
  height: 256px;
}*/


/* Code for Chapter 2 */

.image2 {
  width: 450px;
  height: 400px;
}

.image3 {
  width: 475px;
  height: 375px;
}