.center {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.image_section {
  display: flex;
  flex-direction: row;
}

img {
  height: 250px;
}

.center_image {
  margin-left: 3%;
  margin-right: 3%;
}